<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <script src="http://localhost:8888/js/swiper.jquery.min.js"></script>
    <script src="http://localhost:8888/js/swiper.min.js"></script>
    <script src="http://localhost:8888/js/swiper.animate1.0.2.min.js"></script>
    <script src="http://localhost:8888/js/zepto.min.js"></script>
    <script src="http://localhost:8888/js/iscroll.js"></script>
    <link rel="stylesheet" href="http://localhost:8888/css/swiper.css">
    <link rel="stylesheet" href="http://localhost:8888/css/swiper.min.css">
    <link rel="stylesheet" href="http://localhost:8888/css/xq.css">
    <link rel="stylesheet" href="http://localhost:8888/css/animate.min.css">
    <script type="text/javascript">
        function resize(now,type){
            var type=type||"x";
            var cw=document.documentElement.clientWidth;
            var ch=document.documentElement.clientHeight;
            var html=document.getElementsByTagName("html")[0];
            if(type=="x"){
                var scale=cw/now*100;
                html.style.fontSize=scale+"px";
            }else if(type=="y"){
                scale=ch/now*100;
                html.style.fontSize=scale+"px";
            }
        }
        window.onload=function(){
            resize(1334,"y");
            var myScroll;
                myScroll=new IScroll("#wrapper",{
                    mouseWheel:true,
                    bounce:true,
                    click:true
                })
                myScroll.on("scrollStart",function(){
                    if(this.directionY==1){
                        $(".fix").css("height","0")
                        $("#wrapper").css("bottom","0")
                    }else if(this.directionY==-1){
                        $("#wrapper").css("bottom","0.96rem")
                        $(".fix").css("height","0.96rem")
                    }
                })
        }
    </script>
</head>
<body>
<div class="header">
    <div class="head-inner">
        <a href="/list2" class="back"></a>
        <div class="head_right">
            <a href="" class="font"></a>
            <div class="line"></div>
            <a href="" class="pinglun">
                <img src="http://localhost:8888/img/详情_03.png" alt="" class="pl-img1">
                <span>1.6K</span>
            </a>
        </div>
    </div>
</div>
<div class="fix">
    <a href=""><img src="http://localhost:8888/img/font_01.png" alt="" style="width: 0.52rem;height: 0.56rem"><span>评论</span></a>
    <a href=""><img src="http://localhost:8888/img/font_02.png" alt="" style="width: 0.52rem;height: 0.56rem"><span>分享</span></a>
    <a href=""><img src="http://localhost:8888/img/font_03.png" alt="" style="width: 0.52rem;height: 0.56rem"><span>收藏</span></a>
    <a href=""><img src="http://localhost:8888/img/font_04.png" alt="" style="width: 0.59rem;height: 0.66rem"><span class="font4">88</span></a>
</div>
<div id="wrapper">
    <div id="scroller">
            <div class="body-inner">
                <div class="title"><%=shows[0].atitle%></div>
                <div class="sj">深圳都市频道<br>2016-12-04 14:55:04</div>
                <img src="http://localhost:8888/img/<%=shows[0].aimg.split(";")[0]%>" alt="" class="body-img">
                <p class="body-p"><%=shows[0].atitle%></p>
             <div class="content">
                 <%=shows[0].acon%>
             </div>
                <div class="fenxiang">
                    <a href=""><img src="http://localhost:8888/img/weibo.png" alt=""></a>
                    <a href=""><img src="http://localhost:8888/img/微信_01.png" alt=""></a>
                    <a href=""><img src="http://localhost:8888/img/微信_02.png" alt=""></a>
                </div>
            </div>
            <div class="repl">热评论</div>
            <div class="pl-con">
                <div class="pl-top">
                    <div class="pl-t-left">
                    <img src="http://localhost:8888/img/评论_01.png" alt="" class="pl-img1">
                    <p class="pl-top-p1">35353535:</p>
                        <p>6小时前</p>
                    </div>
                    <div class="pl-t-right">
                    <img src="http://localhost:8888/img/评论_02.png" alt="" class="pl-img2">
                    <span>921</span>
                    </div>
                </div>
                <div class="pl-bottom">一套房子留给儿子，一套房子出租养老，却要向网友募捐，生命当前，女儿的命比不上你的房子吗？</div>
            </div>
            <div class="pl-con">
                <div class="pl-top">
                    <div class="pl-t-left">
                        <img src="http://localhost:8888/img/评论_01.png" alt="" class="pl-img1">
                        <p class="pl-top-p1">35353535:</p>
                        <p>6小时前</p>
                    </div>
                    <div class="pl-t-right">
                        <img src="http://localhost:8888/img/评论_02.png" alt="" class="pl-img2">
                        <span>921</span>
                    </div>
                </div>
                <div class="pl-bottom">一套房子留给儿子，一套房子出租养老，却要向网友募捐，生命当前，女儿的命比不上你的房子吗？</div>
            </div>
    </div>
</div>
</body>
</html>
<script>
   /* var swiper = new Swiper('.swiper-container',{
        onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
            swiperAnimateCache(swiper); //隐藏动画元素
            swiperAnimate(swiper); //初始化完成开始动画
        },
        onSlideChangeEnd: function(swiper){
            swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
        }
    });*/
</script>